<%- include('fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <p>Strona służy do wyświetlania informacji na temat mieszkań wystawionych na sprzedaż,kupujących oraz dokonanych zakupów.</p>
    </main>
<%- include('fragments/footer.ejs') %>
</body>
</html>